<<<<<<< HEAD
footer{
    border: solid, rgb(19, 5, 5) 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}
.firstfooter ul li{
    list-style: none;
    text-decoration: none;
    color: brown;
}
=======
header nav ul {
    display: flex ;
    gap: 50px;
    list-style: none;
    width: 50%;
    margin: auto;
    background-color: red;
<<<<<<< HEAD
>>>>>>> index1
=======
}
h1 {
    text-align: center;
    background-color: aqua;
}
p {
    text-align: center;
    color: blue;
}
h2 {
    text-align: center;
    background-color: chartreuse;
    width: 80%;
    margin: auto;
>>>>>>> index2
}